!!!!!! 5
%html
  %head
    %title Dropping Containers
    %meta{charset: 'utf-8'}
    %meta{name: 'author', content: 'FUNABARA Masao'}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no'}
    %meta{name: 'twitter:card', content: 'summary_large_image'}
    %meta{name: 'twitter:site', content: '@107steps'}
    %meta{name: 'twitter:creator', content: '@107steps'}
    %meta{name: 'twitter:title', content: 'Dropping Containers'}
    %meta{name: 'twitter:description', content: '接続があるたびにコンテナが落ちてきます。'}
    %meta{name: 'twitter:image', content: 'http://dropping-containers.lolipop.io/ogp.png'}
    %meta{name: 'og:url', content: 'http://dropping-containers.lolipop.io/'}
    %meta{name: 'og:type', content: 'website'}
    %meta{name: 'og:title', content: 'Dropping Containers'}
    %meta{name: 'og:description', content: '接続があるたびにコンテナが落ちてきます。'}
    %meta{name: 'og:image', content: 'http://dropping-containers.lolipop.io/ogp.png'}
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = yield
